/***************************************************************/
/*  Header                                                     */
/***************************************************************/
.header-wrap {
	@extend %wrapper;
}
#header {
	z-index: 100;
	position: relative;
	border-bottom: 3px solid $border-color;
	// Hide border when mobile menu is open
	&.is-menu-open {
		border: none;
	}		
}
@include MQ(MLplus) {
	// Hide border when in desktop view
	#header {
		border: none;
	}	
}
//  Login
#header-signup {
	position: absolute;
	top: 0.1rem;
	right: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			a {
				margin: 0 0 0 0.8rem;
				font-size: 0.75rem;
				text-transform: uppercase;
				&.header-signup-register {
					[data-icon]:before {
						top: 0.1rem;
						font-size: 0.8rem;
					}
				}
				&:hover {
					text-decoration: none;
					@include opacity(0.7);
				}
			}
		}
	}
	form {
		display: inline;
		.btn {
			margin-top: 0.1rem;
			font-size: 1rem;
		}		
	}
}
//  Logo
#header-logo {
	z-index: 2;
	display: inline-block;
	position: relative;
	padding: 2rem 0;
	a {
		display: inline-block;
    width: image-width("general/logo.png");
		height: image-height("general/logo.png");
		background: image-url("general/logo.png") no-repeat left top;
		text-indent: -9999px;	
		&:hover,&:focus {
			@include opacity(0.8);		
		}	
	}
}
//  Header Search
#header-search {
	position: relative;
	padding: 0 0 1rem;
	.js & {
		display: none;
	}
	#header.is-search-open & {
		display: block !important;
	}
	input[type="text"] {
		z-index: 1;
		position: relative;
		width: 100%;	
		height: 3.8rem;
		line-height: 3.8rem;		
		padding: 0 5.2rem 0 1rem;
		border: 1px solid #CCC;
		@include box-shadow(#DDD 0 0 6px inset);
		color: #666;
		font-size: 1.2rem;
		@include border-radius(5px);	
	}
	input[type="submit"] {
		z-index: 1;
		position: absolute;
		top: 0.08rem;
		right: 0.05em;
		height: 3.7rem;
		margin: 0;
		padding: 0 1.4rem;
		font-size: 0.75rem;
		color: #666;
		text-transform: uppercase;
		border: 0;	
		border-left: 1px solid #DDD;
		@include background(linear-gradient(color-stops(scale-lightness(#CCC, 60%), #CCC 50%)));
		@include border-corner-radius(top, left, 0);
		@include border-corner-radius(bottom, left, 0);
		&:hover {
			@include opacity(0.8);
		}		
	}	
}
@include MQ(MLplus) {
	#header-search {
		display: block !important;
		position: absolute;
		top: 1.6rem;
		right: 0.05rem;
		width: 30%;
	}
}