/***************************************************************/
/*  Header                                                     */
/***************************************************************/
.header-wrapper {
	@extend %wrapper;
}
#header {
	z-index: 100;
	position: relative;
	border-bottom: 3px solid $border-color;
	// Hide border when mobile menu is open
	&.is-menu-open {
		border: none;
	}		
}
@include MQ(MLplus) {
	// Hide border when in desktop view
	#header {
		border: none;
	}	
}
/*  Login  */
#header_signup {
	position: absolute;
	top: 0.1em;
	right: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			a {
				margin: 0 0 0 0.8em;
				font-size: 0.75em;
				text-transform: uppercase;
				&.header_signup_register {
					[data-icon]:before {
						top: 0.15em;
						font-size: 1.1em;
					}
				}
				&:hover {
					text-decoration: none;
					@include opacity(0.7);
				}
			}
		}
	}
	form {
		display: inline;
		.btn {
			margin-top: 0.1em;
			font-size: 1em;
		}		
	}
}
/*  Logo  */
#header_logo {
	z-index: 2;
	display: inline-block;
	position: relative;
	padding: 2em 0;
	a {
		display: inline-block;
    width: image-width("general/logo.png");
		height: image-height("general/logo.png");
		background: image-url("general/logo.png") no-repeat left top;
		text-indent: -9999px;	
		&:hover,&:focus {
			@include opacity(0.8);		
		}	
	}
}
/*  Header Search  */
#header_search {
	position: relative;
	padding: 0 0 1em;
	.js & {
		display: none;
	}
	#header.is-search-open & {
		display: block !important;
	}
	input[type="text"] {
		z-index: 1;
		position: relative;
		width: 100%;	
		height: 3em;
		line-height: 3em;		
		padding: 0 5.2em 0 1em;
		border: 1px solid #CCC;
		@include box-shadow(#DDD 0 0 6px inset);
		color: #666;
		font-size: 1.2em;
		@include border-radius(5px);	
	}
	input[type="submit"] {
		z-index: 1;
		position: absolute;
		top: 0.2em;
		right: 0;
		height: 4.6em;
		margin: 0;
		padding: 0 1.4em;
		font-size: 0.75em;
		color: #666;
		text-transform: uppercase;
		border: 0;	
		border-left: 1px solid #DDD;
		@include background(linear-gradient(color-stops(scale-lightness(#CCC, 60%), #CCC 50%)));
		@include border-corner-radius(top, left, 0);
		@include border-corner-radius(bottom, left, 0);
		&:hover {
			@include opacity(0.8);
		}		
	}	
}
@include MQ(MLplus) {
	#header_search {
		display: block !important;
		position: absolute;
		top: 1.6em;
		right: 0.05em;
		width: 30%;
	}
}