/***************************************************************/
/*  Images                                                     */
/***************************************************************/
img { display: block; }
.image {
	border: 1px solid $border-color;	
}
.img-left {
	float: left;
	margin: 0 0.6em 0 0;
}
.img-right {
	float: right;
	margin: 0 0 0 0.6em;
}	
.figimage {
	border: 1px solid $border-color;
	figcaption {}
	&.figover {
		position: relative; 
		overflow: hidden;
		figcaption {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0.3em;
			background: #DDD;
			background: transparentize(#DDD, .1);
			color: $image-caption-color-hover;
			font-size: 0.9em;
			span {
				color: $image-caption-color;
			}
		}
	}	
}
/***************************************************************/
/*  Breadcrumbs                                                */
/***************************************************************/
.crumbBox {
	display: block;
	margin: 1em 0 0;
	font-size: 0.9em;
}
/***************************************************************/
/*  Login & Register                                           */
/***************************************************************/

.popup-container {
	.btn {
		margin: 1em 0 0;	
	}	
	.btn-forgot-password {
<<<<<<< 7a058007c6330143bd640e1c9bf7e1eb20526b34
		margin: 1.4em 0 0 1em;
=======
		margin: 2.9em 0 0 1em;
>>>>>>> b23032f377f6b97b68f09b35e66b32085fafa8e0
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}	
	}
}
.wlpeMessage {
	p:only-child {
		margin: 0;
	}
}
/***************************************************************/
/*  Box				                                                 */
/***************************************************************/
.box {
	@extend %clearfix;
	display: block;
	margin: 1em 0 0;
	padding: 2em 0 1em;
	border-top: 1px dotted $border-color;
	font-size: 0.9em;
	&:first-child {
		border: none;
	}
	.box_img {	
		img {
			float: left;
			margin: 0 1em 0 0;
			@include border-radius(3px);		
		}
	}
	.box_content {	
	
	}
		.box_title {
			h2 {
				font-size: 1.8em;
				margin: 0 0 0.2em;			
			}
		}
		.box_text {
			margin: 0;
			padding: 0;
		}
		.box_btn {
			
		}
}
.box_big {
	.box_img {
		img {
			float: left;
			margin: 0 1em 0 0;
			@include border-radius(3px);
		}
	}
	.box_socials {
		float: right;
		margin: 0 0 0 1em;
	}
}
@include MQ(MLneg) {
	.box {
		.box_img {
			img {
				max-width: 30%;
			}
		}
	}	
}
/***************************************************************/
/*  Pagination                                                 */
/***************************************************************/
%pagination {
	display: block;
	float: left;
	min-width: 1.8em;
	min-height: 1.8em;
	line-height: 1.8em;
	margin: 0 0.2em 0 0;
	text-align: center;
	@include border-radius(3px);
}
#pagination {
	@extend %clearfix;
	margin: 1em 0 0;
	padding: 2em 0 0;
	border-top: 1px dotted $border-color;	
	.pagination-title {
		@extend %pagination;
		margin: 0 0.4em 0 0;
	}
	.page {
		@extend %pagination;
		border: 1px solid $border-color;
		background: scale-lightness($border-color, 80%);	
		color: $font-color;
		&:hover {
			background: scale-lightness($border-color, 30%); 
		}
	}
	.pagination-current {
		@extend %pagination;	
		border: 1px solid $border-color;	
		background: scale-lightness($border-color, 30%);
		color: $font-color;			
	}
}
/***************************************************************/
/*  Video                                                      */
/***************************************************************/
.video {
	span {
		display: block;
		margin: 1em 0 0;
		color: $font-heading-color;
		font-size: $font-heading-h3-size;
		font-weight: bold;
		
	}
	iframe {
		max-width: 100%;
		border: none;
	}	
}
/***************************************************************/
/*  Search                                                     */
/***************************************************************/
.ajaxSearch_highlight {
	background: #FCF8CF;
	color: #002;
	font-weight: bold;
}
.ajaxSearch_resultsInfos {
	clear: both;
	margin: 0;
	font-weight: normal;
}
.ajaxSearch_resultsDisplayed { 
	margin: 0 0 0 0.4em; 
}
.ajaxSearch_grpResultName,
.paging1 { 
	display: inline-block; 
	color: scale-lightness($font-color, 30%);
	font-size: 0.8em;	
	font-style: italic;
}
.ajaxSearch_result {
	padding: 0.6em 0 1em; 
	border-bottom: 1px dotted $border-color;		
}
.ajaxSearch_resultLink {
	word-wrap: break-word;
	clear: both;
	display: block;
	margin: 1em 0 0.2em;	
	font-size: $font-heading-h2-size;
	font-weight: bold;	
}
.ajaxSearch_resultDescription { 
	line-height: 1.4em; 
}
.ajaxSearch_result + .paging1 {	
	margin-top: 2em; 
	margin-bottom: 2em; 
}