// Configuration
// ====================================================================
// Support for IE6 and IE7
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
// Fonts
$fonts-active: true;
// Reset
$normalize-active: true;
$formalize-active: true;
// Modules
$tooltip-active: true;
$faq-active: true;
$tabs-active: true;
$tabs-horizontal-active: true;
$tabs-vertical-active: true;
$tabs-accordion-active: true;
$form-active: true;
$form-alerts-active: true;
$form-buttons-active: true;
$table-active: true;
$gallery-active: true;
$magnific-popup-active: true;
$responsive-slides-active: true;