// Global Variables
// ====================================================================
// Base
$base-font-size: 1em;
$base-line-height: 1.5em;
// Fonts
$font-size: 1em !default;
$font-color: #666 !default;
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-icons: icomoon1 !default;
//  Links
$font-link-color: #035C86 !default;
$font-link-hover-color: scale-lightness($font-link-color, -30%) !default;
$font-link-hover-decoration: underline !default;
// Headings
$font-heading-color: #444 !default;
$font-heading-h1-size: 2.0em !default;
$font-heading-h2-size: 1.8em !default;
$font-heading-h3-size: 1.6em !default;
$font-heading-h4-size: 1.4em !default;
$font-heading-h5-size: 1.2em !default;
$font-heading-h6-size: 1.1em !default;
// Paragraphs
$font-paragraph-line-height: $base-line-height !default;
$font-paragraph-margin: 0 0 1em !default;
// Placeholders
$placeholder-color: #666 !default;
//  Borders
$border-color: #DDD !default;
//  Image Captions
$image-caption-color: #444 !default;
$image-caption-color-hover: scale-lightness(#444, 30%) !default;
// Backgrounds
$background-color: #FFF !default;
// Device
$device-width-max: 70em;
$device-width-min: 20em;
// Media Query
$XXXS: 0 !default;       // 0px
$XXS: 18em !default;     // 288px
$XS: 23.75em !default;   // 380px
$S: 30em !default;       // 480px
$M: 43em !default;       // 688px
$ML: 50em !default;      // 800px
$L: 62.5em !default;     // 1000px
$XL: 68.75em !default;   // 1100px
$XXL: 75em !default;     // 1200px
$XXXL: 87.5em !default;  // 1400px
$XXXXL: 100em !default;  // 1600px