@if $tabs-active == true {
// Tab Variables [Custom]
// ====================================================================
$tab-font-size: 1em;
// Borders
$tab-border: $border-color;
$tab-border-arrow: #9B9797;
// Tab horizontal
$tab-horizontal-padding: 0.8em 1em;
$tab-horizontal-padding-active: 0.75em 1em 0.875em 1em;
$tab-horizontal-tab-bg: #FFF;
// Tab vertical
$tab-vertical-width1: 30%;
$tab-vertical-width2: 100% - $tab-vertical-width1;
$tab-vertical-height: 350px;
$tab-vertical-content-bg: #FFF;
// Accordion Title
$tab-accordion-title-bg: #DDD;
$tab-accordion-title-bg-active: $tab-accordion-title-bg;
$tab-accordion-padding: 0.6em 1em;
// Content
$tab-content-bg: #FFF;
$tab-content-padding: 1em;



/***************************************************************/
/*  General                                                    */
/***************************************************************/
// Hide h2 on tabs view
h2 {
	&.resp-accordion {
		display: none;		
	}
}
// Hide Tabs on accordion view	
@include MQ(MLneg) {
	.resp-tabs-list {
		display: none;
	}	
}
@if $tabs-horizontal-active == true {
/***************************************************************/
/*  Tabs horizontal                                            */
/***************************************************************/
.resp-tabs-list {
	margin: 0;
	padding: 0;
	li {
		cursor: pointer;
		float: left;
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: $tab-horizontal-padding;
		border: 1px solid transparent;
		border-bottom: none;
		font-weight: bold;
		font-size: $tab-font-size;
		&.resp-tab-active {
			border-color: $tab-border;
			margin-bottom: -1px !important;
			padding: $tab-horizontal-padding-active;
			background: $tab-horizontal-tab-bg;
		}
	}
}
} // end if [Tabs horizontal]
@if $tabs-vertical-active == true {
/***************************************************************/
/*  Vertical Tabs                                              */
/***************************************************************/
.resp-vtabs {
	.resp-tabs-list {
		float: left;
		width: $tab-vertical-width1;
		li {
			z-index: 1;
			display: block;
			position: relative;
			padding: 1em !important;
			margin: 0 -1px -1px 0;
			cursor: pointer;
			border: 1px solid transparent;
			border-right: none;
			float: none;
			&.resp-tab-active {
				border-color: $tab-border;
				background: $tab-vertical-content-bg;
			}
		}			
	}
	.resp-tabs-container {
		clear: none;
		float: left;
		width: $tab-vertical-width2;
		min-height: $tab-vertical-height;
		padding: 0;
		border: 1px solid $tab-border;
		background: $tab-vertical-content-bg;
	}	
	.resp-tab-content {
		border: none;
		border-top: none !important;
	}
}
@include MQ(MLneg) {
	.resp-vtabs {
		.resp-tab-content {
			border: 1px solid $tab-border;
			&:last-child {
				border-bottom: 1px solid $tab-border !important;
			}
		}
		.resp-tabs-container {
			clear: none;
			float: none;
			width: 100%;
			min-height: initial;
			border: none;
		}		
	}
}
} // end if [Tabs vertical]
@if $tabs-accordion-active == true {
/***************************************************************/
/*  Accordion                                                  */
/***************************************************************/
h2 {
	&.resp-accordion {
		cursor: pointer;
		margin: 0;
		padding: $tab-accordion-padding;	
		border: 1px solid scale-lightness($tab-border, -10%);
		border-top: none;			
		background: $tab-accordion-title-bg;
		font-size: $tab-font-size;
		&:first-child {
				border-top: 1px solid scale-lightness($tab-border, -10%) !important;
		}		
	}	
	&.resp-tab-active {
		margin-bottom: 0 !important;
		padding: 0.6em 1em !important;
		background: $tab-accordion-title-bg-active !important;
	}
	// Arrows
	.resp-arrow {
		width: 0;
		height: 0;
		float: right;
		margin-top: 3px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 12px solid $tab-border-arrow;
	}	
	&.resp-tab-active span.resp-arrow {
		border: none;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 12px solid $tab-border-arrow;
	}		
}
@include MQ(MLneg) {
	h2.resp-accordion {
		display: block;
	}
	.resp-accordion-closed {
		display: none !important;
	}
}
} // end if [Tabs accordion]
/***************************************************************/
/*  Content                                                    */
/***************************************************************/ 
.resp-tabs-container {
	clear: left;
	padding: 0;
	background:  $tab-content-bg;
}	
.resp-tab-content {
	display: none;
	padding: $tab-content-padding;
	border: 1px solid $tab-border;
}
@include MQ(MLneg) {
	.resp-tab-content {
		border-top: none;
	}	
}
// Active State
.resp-content-active, 
.resp-accordion-active,
.resp-tab-content-active {
		display: block;
}
} // end if