// Forms Variables [Custom]
// ====================================================================
$form-colorscheme: light; // light or dark
// Font
$form-font-size: 1rem !default;
// Width
$form-width-max: 22rem !default;
//  Color Forms
$form-border: #848484 #c1c1c1 #e1e1e1 !default;
$form-bg: #FFF !default;
$form-font-color: #333 !default;
$form-shadow-inset: #DDD !default;
$form-error-color: #C60F13 !default;
// Color Alerts
$form-alertbox-default-color: #DDD !default;
$form-alertbox-default-border-color: #CCC !default;
$form-alertbox-text-color: #333;
$form-alertbox-alert-color: $form-error-color !default;
$form-alertbox-alert-text-color: #FFF !default;
$form-alertbox-alert-text-link-color: orange !default;
$form-alertbox-success-color: #5DA423 !default;
$form-alertbox-success-text-color: #FFF !default;
$form-alertbox-success-text-link-color: #990000 !default;
$form-alertbox-secondary-color: #137899 !default;
$form-alertbox-secondary-text-color: #FFF !default;
$form-alertbox-secondary-text-link-color: #C0C0C0 !default;
// Color Buttons
$form-button-font-color: #333 !default;
$form-button-alert-color: scale-lightness($form-error-color, -10%) !default;
$form-button-secondary-color: #CCC !default;
$form-button-success-color: #0D6455 !default;
$form-button-info-color: #2F96B4 !default;
$form-button-inverse-color: scale-lightness(#333, -10%) !default;
// Dark Colorscheme
@if $form-colorscheme == dark {
	$form-border: #666;
	$form-bg: #333;
	$form-font-color: #CCC;
	$form-shadow-inset: #444;
	$placeholder-color: #DDD;
}



@if $form-active == true {
/***************************************************************/
/*  Form General                                               */
/***************************************************************/
form {
	fieldset {
		padding: 1rem;
		border: 1px solid scale-lightness($border-color, 30%);
		legend {
			font-weight: bold;
			i {
				margin: 0 0 0 0.2rem;
				font-size: 0.7rem;
				font-weight: normal;
			}
		}	
	}
}
textarea,
select,
input[type="file"],
input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file']) {
	display: inline;
	height: auto;
	margin: 0 0 0.4rem;		
	padding: 0.6rem;
  border-color: $form-border;	
	background: $form-bg;
  color: $form-font-color;
	font-size: $form-font-size;			
	@include border-radius(3px);
	@include box-shadow($form-shadow-inset 0 0 4px inset);
}
/***************************************************************/
/*  Form Styling                                               */
/***************************************************************/
.form {
	margin: 0;
	padding: 0;
	> li {
		@extend %clearfix;
		list-style: none;
		padding: .5rem 0 0;
	}
	// Fields & fieldset
	select,
	input[type="file"],
	input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file']) {
		width: 100%;
		max-width: $form-width-max;
	}
	textarea {
		width: 100%;
		height: 150px;	
	}
	optgroup {
		font-weight: bold;
	}
	input[type="file"] {
		padding-left: 0;
		@include box-shadow(#DDD 0 0 0 inset !important);
	}
	fieldset {
		margin: .5rem 0 0;
		padding: 0;
		border: 0;
		label {
			&:after {
				content: "\A"; 
				white-space: pre;
			}
			input[type="checkbox"],
			input[type="radio"] {
				display: inline;
				margin: 0 0.3rem 0.3rem 0;
			}
		}
	}
	// Labels 
	.form-label {
		vertical-align: top;
		margin: 0 0 0.6rem;
	}
}
@include MQ(Splus) {
	.form {
		// Fields styling
		.form-fields {
			@include container;
			margin: 0;		
		}
			.form-fields-col2 {
				textarea,
				select,
				input[type="file"],
				input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file'])	{
					@include span-columns(6,12);
					&:nth-child(2n) { @include omega; }
				}		
			}
			.form-fields-col3 {
				textarea,
				select,
				input[type="file"],
				input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file'])	{
					@include span-columns(4,12);
					&:nth-child(3n) { @include omega; }
				}					
			}
			.form-fields-col4 {
				textarea,
				select,
				input[type="file"],
				input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file'])	{
					@include span-columns(3,12);
					&:nth-child(4n) { @include omega; }
				}					
			}
			.form-fields-col5 {
				textarea,
				select,
				input[type="file"],
				input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file'])	{
					@include span-columns(2.28,12);
					&:nth-child(5n) { @include omega; }
				}					
			}
			.form-fields-col6 {
				textarea,
				select,
				input[type="file"],
				input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file'])	{
					@include span-columns(2,12);
					&:nth-child(6n) { @include omega; }
				}					
			}		
		/***************************************************************/
		/*   Form with no label                                        */
		/***************************************************************/
		&.form-nolabel {
			> li {
				> fieldset {
					padding: 0;
					border: 0;
					label {
						display: block;
					}
				}		
			}
				.form-label {
					display: none;
				}
		}
		/***************************************************************/
		/*   Form advanced, with two columns                           */
		/***************************************************************/
		&.form-advanced {
			> li {
				border-bottom: 1px solid #DDD;
				&:last-child {
					border-bottom: none;
				}						
			}
			@include container;
			.form-label {
				@include span-columns(3,12);	
				text-align: right;
			}
			.form-fields {
				@include span-columns(9 omega,12);
			}			
		}		
	}
}
/***************************************************************/
/*  Form Errors                                                */
/***************************************************************/
.form {
	// Errors & Required
	i {
		color: $form-error-color;
		font-style: normal;
	}	
	.error {
		small {
			font-size: $form-font-size;
		}
		.form-fields {
			select,
			input:not([type='checkbox']):not([type='radio']):not([type='reset']):not([type='submit']):not([type='button']):not([type='file']) {
				border-color: $form-error-color;
				@include border-corner-radius(bottom, right, 0);
				@include border-corner-radius(bottom, left, 0);
			}
			> small {
				display: block !important;
				width: 100%;
				max-width: $form-width-max;
				background: $form-error-color;
				margin: -0.40rem 0 0.4rem;
				padding: 0.2rem 0.6rem;
				color: #FFF;
				font-weight: bold;
			}
			> fieldset {
				small {
					display: inline;
					margin: 0 0 0 0.3rem;
					color: $form-error-color;
					font-weight: bold;
				}				
			}
			&.form-fields-fullwidth {
				small {
					max-width: 100%;
				}
			}			
		}
	}	
}
// Hide HoneyPot
.last__name {
	display: none !important;	
}
} // end if [form]	
	
	
@if $form-alerts-active == true {
/***************************************************************/
/*  Alert Box                                                  */
/***************************************************************/
%alert {
	margin: 0 0 1rem;
	padding: 0.6rem;
	border: 1px solid $form-alertbox-default-border-color;
	background: $form-alertbox-default-color;
	color: $font-color;
	font-weight: bold;
}
.alert {
	@extend %alert;
	color: $form-alertbox-text-color;
	a:hover {
		text-decoration: underline;
	}
	&.alert-wrong {
		border-color: scale-lightness($form-alertbox-alert-color, -30%);
		background: $form-alertbox-alert-color;	
		color: $form-alertbox-alert-text-color;
		a {
			color: orange;
		}
	}
	&.alert-success {
		border-color: scale-lightness($form-alertbox-success-color, -30%);
		background: $form-alertbox-success-color;	
		color: $form-alertbox-success-text-color;
		a {
			color: $form-alertbox-success-text-link-color;
		}		
	}
	&.alert-secondary {
		border-color: scale-lightness($form-alertbox-secondary-color, -30%);
		background: $form-alertbox-secondary-color;	
		color: $form-alertbox-secondary-text-color;
		a {
			color: $form-alertbox-secondary-text-link-color;
		}		
	}	
}
} // end if [alert box]

@if $form-buttons-active == true {
/***************************************************************/
/*  Buttons                                                    */
/***************************************************************/
.btn, 
a.btn, 
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	margin: 0 0 0.3rem;
	padding: 0.65rem 0.9rem;
  @include background-image(linear-gradient(white, #dddddd));	
	color: $form-button-font-color;
	font-size: 0.9rem;
	text-align: center;
	font-weight: normal;	
	@include box-shadow(transparentize(#FFF, .7) 0 1px 0 inset);
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
	&:hover {
		@include background-image(linear-gradient(#F9F9F9, #CCC));
		color: $form-button-font-color;
	}
}
.btn {
	&.btn-strong {
		font-weight: bold;
	}
	&.btn-tiny {
		font-size: 0.6rem;
	}
	&.btn-small {
		font-size: 0.8rem;
	}
	&.btn-large {
		font-size: 1.1rem;
		padding: 0.5rem 1.2rem;
	}
	&.btn-secondary {
		background: scale-lightness($form-button-secondary-color, 10%);
		&:hover {
			background: scale-lightness($form-button-secondary-color, -20%);
		}
	}
	&.btn-success {
		border: 1px solid scale-lightness($form-button-success-color, 5%);	
		background: scale-lightness($form-button-success-color, 10%);
		color: #FFF;
		@include text-shadow(#666 0 0 0);
		&:hover {
			background: scale-lightness($form-button-success-color, -20%);
			color: #FFF;
		}		
	}
	&.btn-info {
		border: 1px solid scale-lightness($form-button-info-color, 5%);	
		background: scale-lightness($form-button-info-color, 10%);
		color: #FFF;
		@include text-shadow(#666 0 0 0);
		&:hover {
			background: scale-lightness($form-button-info-color, -20%);
			color: #FFF;
		}		
	}
	&.btn-alert {
		border: 1px solid scale-lightness($form-button-alert-color, 5%);	
		background: scale-lightness($form-button-alert-color, 10%);
		color: #FFF;
		@include text-shadow(#666 0 0 0);	
		&:hover {
			background: scale-lightness($form-button-alert-color, -20%);
			color: #FFF;
		}		
	}
	&.btn-inverse {
		border: 1px solid scale-lightness($form-button-inverse-color, 5%);	
		background: scale-lightness($form-button-inverse-color, 10%);
		color: #FFF;
		@include text-shadow(#666 0 0 0);	
		&:hover {
			background: scale-lightness($form-button-inverse-color, -10%);
			color: #FFF;
		}		
	}
	&.btn-disabled {
		@include opacity(0.6);
	}
	&.btn-no-style {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		color: $font-link-color;
		&:focus {
			@include box-shadow(#666 0 0 0);
		}
		&:hover {
			color: $font-link-hover-color;
		}
	}
}
} // end if [buttons]